
.container .border-primary{
    width:500px;
    height:500px;
    display: flex;
    align-items: center;
    
}

.container .border-secondary{
    width:400px;
    height:400px;
    text-align: center;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
  
}

.container .border-danger{
    width:200px;
    height:200px;   
}

.father .border-primary{
    width:500px;
    height:500px;
   
}

.father .border-secondary{
    width:400px;
    height:400px;
}

.father .border-danger{
    width:200px;
    height:200px;
 
}